body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    background-color: #ffffff;
}

.visually-hidden {
    display: none;
}

.main-header {
    background-color: #eeeeee;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

p {
    margin: 0;
}

.main-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding-top: 49px;
}

.main-menu,
.user-menu {
    list-style: none;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
}



.main-menu a,
.user-menu a {
    color: #000000;
}

.main-menu a:hover,
.user-menu a:hover {
    color: #fb565a;
}

.main-menu a:active,
.user-menu a:active {
    color: #d1d1d1;
}

.slider {
    width: 1160px;
    margin: 0 auto;

}
.first-slide {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
    padding: 78px 0 80px 0;
}

.second-slide {
    background-image: url("/img/slide2.png");
    display: none;
}

.third-slide {
    background-image: url("/img/slide3.png");
    display: none;
}

.slide-lead {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 30px;
}

.slide-text {
    margin-bottom: 45px;
}

.button {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.slide-button {
    width: 240px;
    padding: 13px 0;
}

.slide-button:hover {
    background-color: #e74246;
}

.slide-button:focus {
    background-color: #d7373b;
    color: #e37376;
}

.services {
    width: 1160px;
    margin: 0 auto;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 40px;
}

.services-list {
    list-style: none;
    display:  flex;
    flex-direction: row;
    padding: 255px 0 80px 0;
}

.services-list li {
    width: 300px;
    margin-right: 100px;
}

.services-list h3 {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    padding: 0;
    margin: 0;
}

.services-list h3::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 146px;
    background-image: url("../img/illustration-1.png");
    top: -176px;
}

.services-list .app h3::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 146px;
    background-image: url("../img/illustration-2.png");
    top: -176px;
}

.services-list .presentations h3::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 146px;
    background-image: url("../img/illustration-3.png");
    top: -176px;
}

.services-list p {
    margin: 28px 0 40px 0;
}

.services button {
    width: 160px;
    padding: 13px 0;
}

.app .button {
    background-color: #00ca74;
}

.presentations .button {
    background-color: #efc84a;
}

.web .button:hover {
    background-color: #e74246;
}

.web .button:focus {
    background-color: #d7373b;
    color: #e37376;
}

.app .button:hover {
    background-color: #00bc6c;
}

.app .button:focus {
    background-color: #00aa62;
    color: #15b16f;
}

.presentations .button:hover {
    background-color: #eab534;
}

.presentations .button:focus {
    background-color: #eab534;
    color: #edc265;
}

.features {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 77px;
    border-bottom: 3px solid #eeeeee;
}

.features-left {
    padding-top: 40px;
    width: 660px;
    margin-right: 140px;
}

.features-right {
    width: 360px;
}

.features-lead {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.features-text {
    margin-top: 35px;
    margin-bottom: 47px;
}

.orders {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.orders-list {
    list-style: none;
}

.orders-list li:nth-child(1),
.orders-list li:nth-child(2) {
    margin-bottom: 35px;
}

.features-right p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin-top: 41px;
    margin-bottom: 52px;
    text-align: center;
}

.features-right th {
    font-size: 45px;
    color: #000000;
    font-weight: 700;
    text-align: left;
}

.features-right td {
    line-height: 18px;
    padding-top: 27px;
}

.clients {
    width: 1160px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 48px;
    border-bottom: 3px solid #eeeeee;
}

.clients-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.contacts {
    position: relative;
    padding-top: 80px;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 70px;

}

.contacts-head {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.contact-cover {
    height: 255px;
    width: 269px;
    background-color: #ffffff;
    position: absolute;
    top: 134px;
    left: 140px;
    z-index: 33;
    padding-top: 53px;
    padding-left: 50px;

}

.marker {
    position: absolute;
    top: 169px;
    left: 820px;
    z-index: 34;
}

.contacts p {
    line-height: 18px;
    color: #666666;
}

.contacts button {
    width: 220px;
    padding: 13px 0;
}

.contacts p:nth-child(2) {
    margin-top: 35px;
    margin-bottom: 20px;
}

.contacts p:nth-child(3) {
    margin-bottom: 40px;
}

.main-footer {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.footer-icons {
    width: 260px;
    margin-right: 140px;
}

.footer-lead {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 16px;
    font-weight: 22px;
}

.social-net {
    background-color: #e1e1e1;
    display: inline-block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.footer-icons a:nth-child(1) {
    background-image: url("../img/svg-nerds/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.footer-icons a:nth-child(2) {
    background-image: url("../img/svg-nerds/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.footer-icons a:nth-child(3) {
    background-image: url("../img/svg-nerds/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-net:hover {
    background-color: #e74246;
}

.contact-pop-up h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.callback-item label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.callback input[type="text"] {
    border: 1px solid #d7dcde;
    border-radius: 2px;
}

.callback input[type="text"]:hover {
    border-color: #b4b9bb;
}

.callback input[type="text"]:focus {
    border-color: #000000;
}

.callback input[type="text"]:hover {
    border-color: #b4b9bb;
}

.callback input[type="text"]:invalid {
    border-color: #e74246;
}

.item-cover .button:hover {
    background-color: #e74246;
}

.item-cover .button:active {
     background-color: #d7373b;
 }

.show-result {
     color: #828282;
     background-color: #eeeeee;
}

.show-result:hover {
    color: #0f0f0f;
    background-color: #dfdfdf;
}

.show-result:active {
    color: #959595;
    background-color: #d5d5d5;
}

.pagination-item {
    color: #828282;
    background-color: #eeeeee;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    border: none;

}

.pagination-item:hover {
    color: #0f0f0f;
    background-color: #dfdfdf;
}

.pagination-item:active {
    color: #959595;
    background-color: #d5d5d5;
}